{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block content %}
<p class="h1">{{ title }}</p>


<p>Доставка і оплата
Ми здійснюємо відправлення ваших книжечок по буднях щодня.


 - замовлення, оформлені в будні, вирушать до вас в день замовлення або наступного дня.


- замовлення, оформлені у вихідні, поїдуть до вас у понеділок або вівторок.


 У разі виникнення додаткових питань чи уточнень, ми неодмінно зв'яжемося з вами перед відправкою.

Доступні служби доставки: Нова пошта, міжнародна доставка Nova Poshta Global, Укрпошта та Meest Пошта.</p>

<p>Механізм формування замовлення:
Усі замовлення, що надходять від вас, одразу обробляють наші менеджери. Якщо ви вказали всі необхідні дані, ми автоматично підтверджуємо ваше замовлення, без дзвінка менеджера, і надсилаємо смс з інформацією, що замовлення передано на склад і готується до відправлення, тому очікуйте:


наступне смс повідомлення з номером ТТН (товарно-транспортної накладної) вашої посилки, якщо ви обрали відділення Нової пошти чи Укрпошти;
телефонний дзвінок кур'єра, якщо ви обрали кур'єрську доставку.

У разі, якщо в замовленні бракує інформації, вам обов'язково зателефонує менеджер для уточнення необхідних даних.</p>
<img src="{{ url_for('static', path='image/novaposhta.jpg') }}" alt="" width="400" height="400">
<p>Безкоштовна доставка від 500 грн. від 50 грн - доставка по Україні. Від 100 грн доставка закордон</p>
<img src="{{ url_for('static', path='image/ukrposhta.png') }}" alt="" width="400" height="400">
<p>30 грн - доставка по всій Україні</p>

{% endblock %}